.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #36304a;
}

li {
  float: left;
  font-size: 13px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}